.box2{
    height: 90vh;
    width: 100%;
    object-fit: contain;
}
.video2{
    position: fixed;
    width: 100%;
    height: 90%;
    z-index: -1;
    margin-top: 8vh;
}
#boton2{
    position: absolute;
}
.ads{
    height: 100%;
    width: 100%;
    padding-left: 45%;
}
.p1{
    padding-top: 15px;
    padding-left: 15px;
}
.p2{
    font-size: 20px;
}
@media screen and (max-width:640px){
    .ads{
        padding-top: 15vh;
        margin-left: -10vh;
    }
}









