@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'GFS Didot', serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #000;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h4,p,a {
  color: white;

}

.btn{
  background: transparent;
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-light {
  background: rgb(51, 51, 51);
}

.btn:hover{
  background: rgb(51, 51, 51);
}
